html,body{height:100%;}
body{font-size:14px;font-weight:200;line-height:24px;color:white;background:url(bg.gif) repeat;}
body,strong,em,b,i{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;}
