{% extends "base.html" %}

{% block jquery_ready %} 
    $('#main_content').corner();
    $('#alert1').corner();
    $('#alert2').corner();
    $('#alert3').corner();
    $('.shadowed').pShadow();

	$("a#student_tag").click(function() {
		$.fancybox({
			'padding'		: 0,
			'autoScale'		: false,
			'transitionIn'	: 'none',
			'transitionOut'	: 'none',
			'title'			: this.title,
			'width'		: 680,
			'height'		: 495,
			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
			'type'			: 'swf',
			'swf'			: {
			   	 'wmode'		: 'transparent',
				'allowfullscreen'	: 'true'
			}
		});

		return false;
	});
{% endblock %}
{% block title %}Welcome {% endblock %}

{% block extra_menu %}
{% endblock %} 

{% block content %}  

<h1 class="base">Welcome to Goalfish</h1>
<div class="shadowed" id="alert1" title="Random Movie To Show Conect">
<h3>Student?</h3>
<p>Want some more information?<br/><a id="student_tag" title="Random Move to Illustrate" href="http://www.youtube.com/watch?v=071KqJu7WVo&amp;feature=player_embedded#at=41">Click Here.</a>
</p>
</div>
<div class="shadowed" id="alert2">
<h3>Teacher?</h3>
<p>Want to get involved?<br/>Click Here.</p>

</div>
<div class="shadowed" id="alert3">
<h3>Community Member</h3>
<p>Want to help your local school?<br/>Click Here.</p>
</div>
<div class="shadowed" id="main_content">
<h3>What is Goalfish?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula metus, ornare nec facilisis sit amet, porttitor et dolor. Vestibulum dapibus vehicula est vel euismod. Nam non metus metus. Quisque sem quam, adipiscing id consequat a, vulputate vitae leo. Quisque volutpat arcu at elit gravida nec sodales leo sagittis. Morbi convallis arcu est, et commodo felis. Morbi sit amet ante odio.</p>

<h3>What Color are my Socks?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus viverra arcu, vitae eleifend urna lacinia quis. Nullam at fringilla lorem. Ut sit amet augue eget tortor condimentum tincidunt eu volutpat felis. Praesent ac tortor ligula, vel ornare dui.</p>
{% if user.is_student %}
<b>STUDENT</b>
{% endif %}
{% if user.is_superuser %}
<b>SUPERUSER</b>
{% endif %}

</div>
{% endblock %}
{% block sidebar %}
{% endblock %}

