{% extends "base.html" %}
{% block title %}Welcome {% endblock %}

{% block extra_menu %}
{% endblock %} 

{% block content %}  

<h1>Welcome to Goalfish</h1>

<h3>What is Goalfish?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula metus, ornare nec facilisis sit amet, porttitor et dolor. Vestibulum dapibus vehicula est vel euismod. Nam non metus metus. Quisque sem quam, adipiscing id consequat a, vulputate vitae leo. Quisque volutpat arcu at elit gravida nec sodales leo sagittis. Morbi convallis arcu est, et commodo felis. Morbi sit amet ante odio.</p>

<h3>How do I Join?</h3>
<p>Morbi suscipit posuere tortor, et adipiscing ante eleifend at. Sed ac dignissim tellus. Nunc interdum tristique lectus sit amet congue. Morbi sapien erat, tempor quis adipiscing ac, semper at ligula. Proin eleifend nisi eu mauris tempor nec semper nisl consectetur. Aenean at magna lectus. Nam auctor ligula vel eros tincidunt quis malesuada dui lacinia. Sed semper luctus augue, ac lobortis arcu ullamcorper et. Aenean a quam vitae lectus tempor dignissim a nec sapien. Maecenas euismod tristique dolor in aliquet. Sed vehicula pharetra facilisis. Donec hendrerit nulla ut nulla elementum interdum. Duis euismod aliquet vulputate. Fusce sit amet massa est.</p>

<h3>What Color are my Socks?</h3>
<p>Nam cursus arcu quis tellus iaculis non feugiat nisi bibendum. Morbi eu nisi mauris. Vivamus eros augue, consectetur at posuere sed, aliquet mollis magna. Morbi pharetra imperdiet arcu, ac rhoncus mi venenatis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus viverra arcu, vitae eleifend urna lacinia quis. Nullam at fringilla lorem. Ut sit amet augue eget tortor condimentum tincidunt eu volutpat felis. Praesent ac tortor ligula, vel ornare dui.</p>

{% endblock %}
{% block sidebar %}
{% endblock %}

